<div id="restaurant_form">
  <%= form_for @restaurant do |f| %>


    <% if @restaurant.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2> 
      <ul>
        <%  @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div><br>
   
    <div class="field">
      <%= f.label :address %>
      <%= f.text_area :address %>
    </div><br>
   
    <div class="field">
      <%= f.label :neighbourhood %>
      <%= f.text_field :neighbourhood %>
    </div><br>
   
    <div class="field">
      <%= f.label :category, "Category or Categories" %>
      <%= f.text_field :category %>

<%#= select_tag "restaurant[category_ids][]", 
 options_for_select(@categores.collect{|c|c.name, c.id]}), 
 {multiple: :true, size: 10} %>

    </div><br>
   
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div><br>
   
    <div class="field">
      <%= f.label :price_range %>
      <%= f.text_field :price_range %>
    </div><br>
   
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div><br>
   
    <div class="field">
      <%= f.label :seats %>
      <%= f.number_field :seats %>
    </div><br>

    
    <div class="actions">
      <%= f.submit %>
    </div><br>


  </div>

<% end %> 