<%= link_to "Edit", edit_restaurant_path %>

<div class="restaurant_display">
<h1><%= @restaurant.name %></h1>
Category: <%= @restaurant.category %>
Price Range: <%= @restaurant.price_range %>
<br>
<%= @restaurant.address %><%= @restaurant.neighbourhood %>
<br>
<%= @restaurant.phone %>
<br>
<%= @restaurant.description %>
</div>


<%= link_to "Make a reservation", new_restaurant_reservation_path(restaurant_id: @restaurant.id) %>

<div class = "reviews">
  <h3>Reviews for <%= @restaurant.name %></h3>
  <%# if current_user %>
    <%#= render '/reviews/new_review' %> 
    <%#= render '/reviews/reviews' %>
  
  <%# else %>  
    <p>Please <%#= link_to "log in", new_session_path %> to add a review.</p>
  <%# end %>
</div>
