<script type="text/javascript">

  $(function() {
    $("#new_review")
      .on('ajax:beforeSend', function(){
        $("input[type='submit']")
          .val('Saving...')
            .attr('disabled', 'disabled');
      })
      .on('ajax:complete', function(){
        $("input[type='submit']")
          .val('Create Review')
            .removeAttr('disabled');
      });
  })
</script>


<%#= form_for([@restaurant, Review.new]) do |f| %>
<%= form_for([@restaurant, @review], :remote =>  true) do |f| %>

  <div id="review_form_errors">
    <%= render partial: '/reviews/review_form_errors' %>
  </div>

  
    <div class="field">
    <%= f.label :content %><br> 
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
 
